<p>Hi User,</p>
<p> 
    This week we have chosen (<%= @pub.name %>) for the weekly pub meet. <br/>
	click this link <%= pub_url(@pub, invite_id: @invite.id) %>
</p>

<p>
    regards,<br/>
    <%= @user.email %>
</p>