<footer>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="footerWidget">						
						<p>Pubmeet is a place to meet new friends at random pub everyweek to expand your 		social network while sipping your favourite drink and up-to-date web technologies 	to create great user experiences. We love what we do and we hope you do too!
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footerWidget">

						<h3>Pubmmet</h3>
						<address>
							<p> <i class="fa fa-map-marker"></i>&nbsp;2nd Dhatri Nilaya<br>
								&nbsp;Vignan Nagar, Bangalore.&nbsp;INDIA <br>
								<i class="fa fa-phone"></i>&nbsp;080-40906131 <br>
								<i class="fa fa-envelope"></i>&nbsp;<a href="mailto:bhushanpost@gmail.com">bhushanpost@gmail.com</a> </p>
							</address>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footerWidget">
							<h3>Follow us, we are social</h3>
							<ul class="social">
		                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
		                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
		                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
		                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>	                        
		                    </ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="footerRights">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>Copyright © 2016 <a href="http://pubmeet.com" target="blank">PubMeet</a> / All rights reserved.</p>
					</div>

				</div>
			</div>
		</section>
</footer>